<div class="container">
  <h1>Museums Near Coordinates Long.<%= params[:longitude] %> Lat.<%= params[:latitude] %></h1>

  <div class="row">
    <% @museums.each do |museum| %>
      <div class="card col-lg-4 col-md-6 col-sm-12">
        <div class="card-header">
          <% unless get_website(museum.text).nil? %>
            <%= link_to museum.text, "http://#{get_website(museum.text)}", target: :_blank %>
          <% else %>
            <%= museum.text %>
          <% end %>
        </div>
        <div class="card-body">
          <p><%= museum.category %></p>
          <p>Address</p>
          <footer><%= museum.place_name %></cite></footer>
        </div>
      </div>
    <% end %>
  </div>
</div>
